
   body{
    padding-top: 5%;
   text-align:center;
   font-family: Arial, Helvetica, sans-serif;
   background-color:navy;
   }

  nav {
    background-color: deepskyblue;
    color: black;
    font-size: 42px;
    position: relative;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 28px;


  }
  
  nav ul li {
    padding: 12px 10px;
    cursor: pointer;
    position: relative;
  }

  li a {
    display: block;
    text-align: center;
    text-decoration: none;
    margin-left: -600%;
    color: black;
  }
  nav ul li:hover {
    background-color: #0696c6e2;
    color: white;
  }

	.change {
			cursor: pointer;
            color: red;
			width: 20px;
			text-align: center;
			padding: 5px;
			margin-left: 12px;
		}
		.dark{
			background-color: #222;
			color: #e6e6e6;
		}

